@font-face {
    font-family: 'good_timesregular';
    src: url('./Font/good_times_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;}



#text{
    animation-name: blink;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}
#text2{
    text-decoration: underline;
    color:rgb(2, 188, 160);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes blink{
    0%{color: black;}
    50%{color:brown;}
    100%{color: black;}
}
@keyframes welcome-anim{
    0%{width: 0;display: none;}
    100%{
        display: block;
        width: 1500px;
    }
}body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    overflow: hidden;
    background: black;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  .title {
    font-size: 5vw;
    color: white;
   /* text-shadow: -4px 9px 12px crimson;*/
  }
  
  canvas {
    width: 100%;
  }
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}